.register-form__content {
    width: 680px;
    margin: 0 auto;
    padding: 40px 0;
}

.register-form__heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.form__label--item {
    font-size: 24px;
    font-weight: bold;
}

.register-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.register-form__form {
    padding: 64px 96px;
    width: 100%;
    max-width: 680px;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
    font-weight: bold;
}

.form__group-title {
    text-align: left;
    margin-bottom: 10px;
}

.register-form__error-message {
    height: 20px;
    color: #FF5555;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background: #000000;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
    appearance: none;
}

.login__button-submit {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}