html,
body {
    height: 100%;
}

.header {
    background: #000;
    padding: 10px 15px;
    height: 60px;
    /* 高さ固定 */
    display: flex;
    align-items: center;
    /* 中央寄せ */
    border: 1px solid #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    display: flex;
    /* 横並び */
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.main {
    padding-top: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
