html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    border-bottom: 1px solid #E0DFDE;
    z-index: 1000;
    padding: 8px 0;
    box-sizing: border-box;
}

.header__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 32px;
    /* Figma通り */
    width: auto;
    display: block;
    /* 行間余白防止 */
}

.header-utilities nav {
    flex-shrink: 0;
    /* 幅を削られないようにする */
}

.header-nav {
    display: flex;
}

.header-nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav__list a,
.header-nav__button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
    margin-left: 20px;
}

.main {
    padding-top: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
