.main {
    flex: 1;
    /* ヘッダーを除いた残り全部 */
    background-color: #F0EFF2;
}

.attendance-list {
    max-width: 900px;
    margin: 0 auto;
}

.attendance__heading {
    padding: 5px;
    border-left: 8px solid #000000;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
}


/* 月切り替え */
.attendance-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* 中央固定用 */
    background: #FFFFFF;
    padding: 15px 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.attendance-month a {
    text-decoration: none;
    color: #737373;
    white-space: nowrap;
    font-weight: bold;
    line-height: 24px;
}

.attendance-month__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.attendance-month__current {
    font-size: 20px;
    font-weight: bold;
}

.calendar-label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.calendar-label input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.calendar-icon {
    width: 24px;
    height: 24px;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    filter: brightness(0) saturate(100%) invert(70%);
}

.arrow-right {
    transform: scaleX(-1);
}

a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.attendance-month__current {
    font-weight: bold;
    margin-left: 2px;
    line-height: 24px;
    font-size: 20px;
}

/* 余白 */
.attendance-space {
    height: 30px;
}

/* テーブル枠 */
.attendance-table-wrapper {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

/* テーブル */
.attendance__table {
    width: 100%;
    border-collapse: collapse;
}

.attendance-label {
    color: #737373;
}

.attendance__table th,
.attendance__table td {
    padding: 12px;
    text-align: center;
}

/* 横線（区切り線） */
/* ヘッダー下 3px */
.attendance__table thead th {
    border-bottom: 3px solid #E1E1E1;
}

/* ボディ横線 2px */
.attendance__table tbody td {
    border-bottom: 2px solid #E1E1E1;
}

/* 最後の行は消す */
.attendance__table tbody tr:last-child td {
    border-bottom: none;
}

/* ヘッダー */
.attendance__table thead {
    background: #FFFFFF;
}

.attendance-body td {
    color: #737373;
    font-size: 16px;
    font-weight: bold;
}

.detail-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}