/* 全体レイアウト */
.attendance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    background-color: #F0EFF2;
}

/* ステータスラベル */
.attendance-status {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    margin-bottom: 32px;
    background-color: #C8C8C8;
    color: #696969;
}

/* 状態別（必要なら後で色変更可） */
/* .attendance-status.working {
    background-color: #000;
    color: #fff;
}

.attendance-status.resting {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.attendance-status.finished {
    background-color: #f5f5f5;
    color: #000;
} */

/* 日付・時間 */
.attendance-datetime {
    margin-bottom: 40px;
}

.attendance-date {
    font-size: 16px;
    margin-bottom: 8px;
}

.attendance-time {
    font-size: 32px;
    font-weight: bold;
}

/* アクション */
.attendance-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ボタン共通 */
.btn {
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

/* 出勤・退勤 */
.btn-attendance {
    background-color: #000;
    color: #fff;
}

/* 休憩 */
.btn-rest {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFFFFF;
}

/* 出勤中だけ横並び */
.attendance-actions-row {
    display: flex;
    gap: 24px;
    /* ボタン間の余白 */
}

/* 退勤後メッセージ */
.attendance-finished-message {
    font-size: 18px;
    font-weight: bold;
}
