/* 全体レイアウト */
.main {
    flex: 1;
    /* ヘッダーを除いた残り全部 */
    background-color: #F0EFF2;
}

.attendance-container {
    min-height: 100vh;
    /* 画面の高さいっぱい */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin-top: 0;
}

/* ステータスラベル */
.attendance-status {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 35px;
    border-radius: 50px;
    margin-bottom: 32px;
    margin-top: 80px;
    background-color: #C8C8C8;
    color: #696969;
}

/* 日付・時間 */
.attendance-datetime {
    margin-bottom: 20px;
}

.attendance-date {
    font-size: 40px;
    margin-bottom: 20px;
}

.attendance-time {
    font-size: 80px;
    font-weight: bold;
    margin-bottom:60px
}

/* アクション */
.attendance-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ボタン共通 */
.btn {
    padding: 14px 80px;
    font-size: 32px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

/* 出勤・退勤 */
.btn-attendance {
    background-color: #000000;
    color: #FFFFFF;
}

/* 休憩 */
.btn-rest {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFFFFF;
}

/* 出勤中だけ横並び */
.attendance-actions-row {
    display: flex;
    gap:80px;
    /* ボタン間の余白 */
}

/* 退勤後メッセージ */
.attendance-finished-message {
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 0.15em;
}
