.main {
    flex: 1;
    /* ヘッダーを除いた残り全部 */
    background-color: #F0EFF2;
}

.attendance-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    /* 念のため */
}

.page-title {
    padding: 5px;
    border-left: 8px solid #000000;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
}

/* =====================
   大枠
===================== */
.card {
    border: 2px solid #E1E1E1;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* =====================
   行
===================== */
.row {
    display: grid;
    grid-template-columns: 220px 420px;
    padding: 16px 32px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

/* 最後の行の下線は消す */
.row:last-of-type {
    border-bottom: none;
}

/* =====================
   左ラベル
===================== */
.label {
    color: #737373;
    font-weight: bold;
}

/* =====================
   値（共通）
===================== */
.value {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* =====================
   時間枠と同じ基準揃え
   （名前・日付用）
===================== */
.value.align-time {
    font-size: 16px;
    font-weight: bold;
}

.value.align-time .left {
    width: 96px;
    margin-left: 20px;
}

.value.align-time .right {
    width: 96px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

/* =====================
   時間
===================== */
.value.time {
    gap: 16px;
    font-weight: bold;
}

/* time input & 表示 */
.value.time input,
.time-text {
    width: 96px;
    height: 32px;
    text-align: center;
}

/* input */
.value.time input {
    border: 1px solid #ccc;
}

/* 時計アイコン削除 */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.time-text:empty {
    display: none;
}

.tilde {
    margin: 0 6px;
}

.value.time:has(.time-text:empty) .tilde {
    display: none;
}

/* =====================
   textarea
===================== */
textarea {
    width: 250px;
    height: 80px;
    border: 1px solid #ccc;
    padding: 6px;
    padding-left: 1em;
}

.note-text {
    padding-left: 20px;
}

/* =====================
   エラー表示
===================== */
.error {
    margin-left: calc(220px + 32px);
    padding: 4px 0 8px;
    font-size: 13px;
    color: #ff3333;
}

/* =====================
   ボタン
===================== */
.actions {
    display: flex;
    justify-content: flex-end;
    padding: 30px 5px;
}

/* 承認待ちテキスト */
.actions.pending {
    color: #FF000080;
    font-weight: bold;
}

/* ボタン */
.btn {
    background: #000000;
    color: #FFFFFF;
    padding: 10px 28px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
}

.btn.approved {
    background-color: #696969;
}